<html>

<head>
    {% if title %}
    <title>{{ title }} - Dummy Title</title>
    {% else %}
    <title>This is some time.</title>
    {% endif %}
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div align="center">
        <h3><a href="/">Home</a></h3>
    </div>
    <hr> {% block content %} {% endblock %}
    <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/tether.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/globals.js"></script>
</body>

</html>
